@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Dummy Site for Pizza Order</h1>
    <p class="bg-light"> About <a href="Pizza"></a>.</p>
</div>

<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body class="bg-warning">
    <h1>Welcome to Joe's Pizza </h1>
    <p class="bg-danger">This is a sample homepage with dummy content to be deployed via Jenkins.</p>
</body>
</html>
